.venv/
mlruns/
logs/
MLOPS_PROJECT_1.egg-info/
artifacts/processed/
artifacts/raw/
.vscode
.env
utils/
static/
pipeline/
notebook/
application.py
Dockerfile
README.md
frontend/
credential.json
__pycache__
